@model Violation_p2.Models.Violation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Violation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Violationdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Violationdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fineamount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fineamount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ispaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ispaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Violationtype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Violationtype.ViolationtypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ViolationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
