@model IEnumerable<Violation_p2.Models.Vehicle>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "ProfileUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a >Wellcome <i class="ion-ios-arrow-forward"></i></a></span> <span> Home <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Search</h1>     
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <span class="btn btn-danger">@ViewBag.error</span>
        <div class="row">
           
            @foreach (var vehicle in Model)
            {


                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url('@Url.Content("/ImagesTodisplay/"+@vehicle.Imagepath)')">
                        </div>
                        <div class="text">
                            <h2 class="mb-0"><a href="car-single.html">@vehicle.Model</a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@vehicle.Type</span>
                                <p class="price ml-auto">@vehicle.Licenseplate <span>@vehicle.Color</span></p>
                                <p>Owner: @vehicle.User.Username</p>
                            </div>
                            <p class="d-flex mb-0 d-block">
                                <a asp-controller="Home" asp-action="DetailsCarUser" asp-route-id="@vehicle.VehicleId" class="btn btn-secondary py-2 ml-1">Details</a>

                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</section>


